<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901692791555-rmveb8eajvc13dhve3p27urmugtk431d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901692791555-rmveb8eajvc13dhve3p27urmugtk431d</string>
	<key>API_KEY</key>
	<string>AIzaSyDr__Z_L51e6F2pxBpXhvAZRTL-9X7arD4</string>
	<key>GCM_SENDER_ID</key>
	<string>901692791555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agilhome.ios</string>
	<key>PROJECT_ID</key>
	<string>agilhome-d0ec4</string>
	<key>STORAGE_BUCKET</key>
	<string>agilhome-d0ec4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901692791555:ios:fc4166d4d2eafc69752736</string>
	<key>DATABASE_URL</key>
	<string>https://agilhome-d0ec4.firebaseio.com</string>
</dict>
</plist>